.list {
  max-height: 380px;
  overflow: scroll;
  padding: 8px;
  padding-top: 0;
  margin-top: 230px;
  @media screen and (min-width: 992px){
    margin-top: 8px;
  }
  .paper {
    margin: 12px 0;
    margin-right: -6px;
    padding: 4px;
    transition: all 2s ease-out;
    .comment {
      min-height: 20px;
      padding: 4px;
    }
  }
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:vertical {
    width: 0;
  }
}