$spacing: 230px;
.container {
  width: 320px;
  height: spacing;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  @media screen and (min-width: 992px) {
    position: relative;
    width: calc(100vw - 240px);
    height: calc(100vh - 240px);
    background: hotpink; // padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title {
    color: #22b0a8;
    text-align: center;
  }
  textarea {
    width: 100%;
    font-size: 1rem;
    height: 120px !important;
    border-radius: 4px;
    margin-bottom: 12px;
    outline: none;
    @media screen and (min-width: 992px) {
      width: 320px;
    }
  }
  .buttonContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    @media screen and (min-width: 992px) {
      max-width: 320px;
    }
    .button {
      margin-right: -6px;
      background-color: #22b0a8 !important;
    }
  }
}